#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

#logo {
  margin-left: 60px;
  height: auto;
  width: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

article {
  width: 80%;
}

.main-content {
  align-content: center;
  justify-self: left;
  justify-content: left;
  margin-left: 8%;
  grid-area: 1 / 1 / 2 / 2;
}

.side-content {
  align-content: end;
  width: 400px;
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;
}

.side-images {
  float: left;
  margin-right: 20px;
  width: 100;
  height: 80;
}

#icons {
  left: 0;
  font-size: larger;
  width: 100%;
  text-align: end;
}

.share {
    font-size: 15px;
}

h3 {
  text-align: left;
}

.side-descriptions {
  height: 95px;
}

iframe {
  width: 100%;
  height: 55%;
  border: 0;
  margin-top: 15px;
}

.thumbs {
  margin-right: 20px;
}

.topicon {
  margin-right: 30px;
}

#signin {
  background-color: cornflowerblue;
  border-radius: 5px;
  font-size: 2.5ex;
  margin-right: 20px;
}

#avatar {
  float: left;
  margin-right: 10px;
}

#searchbar {
  width: 650px;
  height: 20px;
}

#searchbutton {
  padding: 4px;
  padding-right: 5px;
}
