#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

article {
  width: 80%;
}

.main-content {
  align-content: center;
  justify-self: left;
  justify-content: left;
  margin-left: 28%;
  grid-area: 1 / 1 / 2 / 2;
  height: 40%;
}

.side-content {
  align-content: end;
  width: 500px;
  grid-area: 1 / 2 / 2 / 3;
}

.side-images {
  float: left;
  margin-right: 20px;
}

#icons {
  left: 0;
  font-size: larger;
  width: 60%;
  text-align: end;
}

h3 {
  text-align: left;
}

.side-descriptions {
  height: 190px;
}

iframe {
  width: 90%;
  height: 65%;
  border: 0;
}

.fa {
  margin-right: 10px;
}

#signin {
  background-color: cornflowerblue;
  border-radius: 5px;
  font-size: 2.5ex;
}
