#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item1{
  align-content: start;
}

.grid-item2{
  align-content: end;


}
