#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.video {
  align-content: center;
  justify-self: left;
  justify-content: left;
  margin-left: 28%;
}

.grid-item2 {
  align-content: end;
  width: 500px;

}
.sidebar{

     float:left;
     margin-right: 20px;


}
#icons {
  left: 0;
  font-size: larger;
  width: 100%;
  text-align: end;
}

h3 {
  text-align: left;
}
.content{

    height: 190px;
}
.views{

    font-size: 13px;
    color: grey;
    
}
